# You can use any database that Prisma supports.
# See docs:
# - https://www.prisma.io/docs/orm/prisma-schema/overview
DATABASE_URL=postgres://postgresurlhere/public
NODE_ENV=production or development

ADDON_MAX_PAGES_FETCHED=35 # about 980 movies