---
import Inputbox from "../inputbox"
import Popular from "../popular"
import {Image} from 'astro:assets'
import LogoImage from '../logo.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stremio Letterboxd Addon</title>
	</head>
	<body class="bg-tailwind text-white">
		<div class="container mx-auto max-w-4xl">
			<div class="text-center"><Image src={LogoImage} title="Letterboxd logo" alt="Letterboxd logo" class="mx-auto" /></div>
			<div class="text-center">Add Letterboxd lists as catalogs!</div>
			<Inputbox client:load />
			<br/>
			<Popular client:only />
		</div>
	</body>
</html>
